.datepicker-date-display {
	-webkit-box-flex: 1;
	-webkit-flex: 1 auto;
	  -ms-flex: 1 auto;
		  flex: 1 auto;
	background-color: #7e57c2;
	color: #fff;
	padding: 20px 22px;
	font-weight: 500;
}

.datepicker-table td.is-today {
	color: rgb(126,87,194);
}

.datepicker-table td.is-selected {
	background-color: #7e57c2;
	color: #fff;
}

.datepicker-day-button {
	background-color: transparent;
	border: none;
	line-height: 38px;
	display: block;
	width: 100%;
	border-radius: 50%;
	padding: 0 5px;
	cursor: pointer;
	color: inherit;
}

.datepicker-day-button:focus {
	background-color: rgba(126, 87, 194, 1);
}

.datepicker-cancel,
.datepicker-clear,
.datepicker-today,
.datepicker-done {
	color: #7e57c2;
	padding: 0 1rem;
}